<div class="outer-container">
    <div id="title">
        <h1>Üdvözöljük az ISABIKE-ban</h1>
        <p>A minőségi kerékpárok és kiegészítők egyetlen célpontja Isaszeg-en</p>
        <img src="assets/boltkepek/bolt_1.png" alt="Kerékpárüzlet Kép" class="img-fluid">
    </div>
    
    <div id="history">
        <h2>Miért válasz minket</h2>
        <p>ISABIKE nemcsak egy egyszerű kerékpárüzlet, 
            hanem egy olyan központ, ahol a kerékpározás iránti szenvedély megosztható és átélhető. 
            Az ISABIKE csapata lelkes és tapasztalt biciklis szakemberekből áll, akik mindent megtesznek azért, 
            hogy minden ügyfél megtalálja álmai kerékpárját, és teljes mértékben ki tudja élvezni a bringázás élményét.</p>
        <p>Az ISABIKE nem csak egy üzlet, hanem egy közösség is. Rendszeresen rendeznek közösségi eseményeket, 
            bringás túrákat és workshopokat, hogy összehozzák és támogassák a helyi biciklis közösséget. 
            Az üzlet környezetbarát szemlélettel működik, és mindent megtesz a fenntartható és 
            egészséges életmód népszerűsítéséért.</p>
        <p>Ha Isaszegen jársz, ne hagyd ki az ISABIKE látogatását! Itt mindent megtalálsz, amire szükséged lehet,
            hogy felfedezd a környék gyönyörű tájait és élvezd a kerékpározás örömét. Legyen szó profi versenyzőről, 
            vagy csak hétvégi bringásról, az ISABIKE mindig szeretettel várja a kerékpárosokat, hogy segítsen nekik 
            felfedezni a kerékpározás izgalmas világát Isaszeg szívében.</p>
    </div>
    
    <div id="contact">
        <h2>Elérhetőségünk</h2>
        <ul>
            <p>Telefonszám: <a href="tel:+36304442211">06 30 444 2211</a></p>
            <p>Email cím: <a href="mailto:isabike@gmail.com">isabike@gmail.com</a></p>
        </ul>
        <p>Címünk: Csongád, Csánád utca 15.</p>
    </div>
</div>

<footer>
    <p>&copy; 2024 Rólunk Kerékpárüzlet. Minden jog fenntartva.</p>
</footer>