<nav class="navbar navbar-expand-lg bg-orange">
  <div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="/biciklik">Kerékpárok</a>
      <a class="nav-item nav-link" routerLink="/alkatreszek">Alkatrészek</a>
      <a class="nav-item nav-link" routerLink="/kiegeszitok">Kiegészítők</a>
      <a class="nav-item nav-link" routerLink="/szerviz">Szerviz</a>
      <a class="nav-item nav-link" routerLink="/rolunk">Rólunk</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
