<div class="outer-container">
    <header>
      <h1>Szerviz kinálataink</h1>
      <p>Az ISABIKE a legjobb kiszolgálászt kinálja a vásároinknak már tőbb mint 20-éve</p>
    </header>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="service-card">
                <div class="service-details">
                    <h3 class="service-title">Állapotfelmérés</h3>
                    <p class="service-description">Fékrendszer vizsgálata, szekunder áttétel vizsgálata, gumiabroncsok állapota, kormánycsapágy ellenőrzése, tömítések állapota.</p>
                    <p class="service-price">Munkadíj: 8 000 Ft</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="service-card">
                <div class="service-details">
                    <h3 class="service-title">Olaj- és szűrőcsere</h3>
                    <p class="service-description">A kezelési útmutatóban javasolt csereperiódus ideje alapján: általában 1 év vagy 6000 kilométer.</p>
                    <p class="service-price">Munkadíj: 8 000 Ft</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="service-card">
                <div class="service-details">
                    <h3 class="service-title">Láncszett csere</h3>
                    <p class="service-description">A jó állapotú szekunder áttétel cseréje szettben történik.</p>
                    <p class="service-price">Munkadíj: 14 000 Ft-tól</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
          <div class="service-card">
            <div class="service-details">
              <h3 class="service-title">Fékszerviz</h3>
              <p class="service-description">Fontos a biztonságos közlekedés érdekében. Ellenőriztesd, cseréld ki a kopott alkatrészeket.</p>
              <p class="service-price">Munkadíj: 12 000 Ft-tól</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="service-card">
            <div class="service-details">
              <h3 class="service-title">Teleszkópszerviz</h3>
              <p class="service-description">A kényelmes használathoz elengedhetetlen a tökéletes állapotú futómű.</p>
              <p class="service-price">Munkadíj: 40 000 Ft-tól</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="service-card">
            <div class="service-details">
              <h3 class="service-title">Gumiabroncs csere</h3>
              <p class="service-description">A motorkerékpár legfontosabb alkatrésze a gumiabroncs.</p>
              <p class="service-price">Munkadíj: 10 000 Ft-tól</p>
            </div>
          </div>
        </div>
      </div>
    
</div>
<footer>
    <p>&copy; 2024 ISABIKE Kerékpárüzlet. Minden jog fenntartva.</p>
</footer>