<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <div class="navbar-nav ml-lg-auto ml-md-4">
      <a class="navbar-logo" routerLink="/home">
        <img src="assets/boltkepek/ISA.png">
      </a>
      <a class="nav-item nav-link" routerLink="/home">Főoldal</a>
      <a class="nav-item nav-link" routerLink="/biciklik">Kerékpárok</a>
      <a class="nav-item nav-link" routerLink="/szerviz">Szerviz</a>
      <a class="nav-item nav-link" routerLink="/rolunk">Rólunk</a>
      <a class="nav-item nav-link" routerLink="/kosar">Kosár</a>
      <a class="nav-item nav-link" *ngIf="!isLoggedIn()" routerLink="/login" >Bejelentkezés</a>
      <a class="nav-item nav-link" *ngIf="!isLoggedIn()" routerLink="/register" >Regisztráció</a>
      <a class="nav-item nav-link" *ngIf="isLoggedIn()" (click)="logout()">Kijelenkezés</a>
      <a class="nav-item nav-link" *ngIf="isLoggedIn()" routerLink="/rendelesem">Rendelésem</a>
      <p class="mt-2" *ngIf="isLoggedIn()">felhasznalo: {{ userName }} </p>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
